<div class="card text-center" style="height: 100%;">
<br>
<h1> Welcome to RGadgets ! </h1>
<br><br><br>
<%= image_tag 'home.png', class: 'home-img' %>
<br><br>
<%= link_to "See Products", items_path, :class => "btn btn-outline-primary"%>
</div>